<!DOCTYPE html>
<html lang="en">
<head>
  <title>Vũ Đức Lam</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="../icon/css/font-awesome.min.css">
</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-8 col-md-push-2">

			<form action="add" method="POST" role="form" enctype="multipart/form-data">
				<legend>Upload file</legend>
			
				<div class="form-group">
					<label for="">Tiêu Đề</label>
					<input type="text" class="form-control" id="tieude" name="tieude" placeholder="Tiêu Đề">
				</div>

				<div class="form-group">
					<label for="">Mô Tả</label>
					<input type="text" class="form-control" id="mota" name="mota" placeholder="Mô Tả">
				</div>	

				<div class="form-group">
					<label for="">Key</label>
					<input type="text" class="form-control" id="key" name="key" placeholder="Key">
				</div>	

				<div class="form-group">
					<label for="">Image</label>
					<input type="file" class="form-control" id="uploadfile" name="uploadfile">
				</div>
				<button type="submit" class="btn btn-primary">Submit</button>
			</form>
			</div>
		</div>
	</div>
	
</body>
</html>